

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    width: 100%;
    padding: 0;
    background-color: #191a1d;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

h2, h1{
    font-weight: 400;
    line-height: 1.5;
}

#search {
    width: 50px;
    height: auto;
}

.img{
    width: 20px;
    height: auto;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

/* LEFT NAV */
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    width: 100%;
}

#logo {
    width: 200px;
}

/* Navigation Links */
.navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#explore {
    color: yellow;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 16px;
}

.links > * {
    font-size: 24px;
}




.spark {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 20px;
    color: lightgray;
}

/* RIGHT NAV */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 50px;
}

#create-button {
    background-color: #36383f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 150px !important;
}

.navbar-right > button {
    background-color: #36383f;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 16px;
}

.search input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

navbar{
    display: flex;
    width: 100%;
    font-size: 24px;
    align-items: center;

}


/* Main Section */

main{
    background: #8f8f8f;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(circle,rgb(46, 46, 46) 0%, rgba(42, 44, 51, 1) 57%);
    padding-bottom: 100px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(216, 216, 216);
    width: 100%;
}

#projects{
    color: rgb(115, 201, 230);
    font-weight: bold;
}


#project-title{
    margin-left:20px
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: 100px;
    width: 60%;
}

.right-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#img-content{
    width: 100%;
    height: auto;
}

.buttons{
    display: flex;
    gap: 20px;
}

#sign-up-button{
    background-color: rgb(75, 206, 121);
    color: rgb(0, 0, 0);
    font-size: 32px !important;
    padding: 16px;
}

#learn-more-button{
    background-color: #111111;
    color: white;
    font-size: 32px !important;
    padding: 16px;
}

/* Footer Section */

.footer {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: #36383f;
    box-sizing: border-box; 
}

.footer > h3 {
    flex-grow: 3;
    padding: 20px;
    text-align: center;
    border: gray 1px solid;
    margin: 0;
    font-weight: normal;
}